<br>
<fieldset>
    <legend>Authorized payments</legend>
    <table>
        <thead>
        <tr>
            <th width="150">Autorization Id</th>
            <th width="150">Create Time</th>
            <th width="150">Total</th>
            <th width="150">State</th>
            <th width="150"></th>
        </tr>
        </thead>
        <tbody>
        {{#each}}
            <tr>
                <td>{{authorizationId}}</td>
                <td>{{createTime}}</td>
                <td>${{total}}</td>
                <td>{{status}}</td>
                <td>
                    {{#if displayButtons}}
                    <ul class="button-group">
                        <button class="small radius" {{action 'voidAuthorization' this}} {{bind-attr disabled=isProcessing}}>Void Authorization</button>
                    </ul>
                    <ul class="button-group">
                        <button class="small radius" {{action 'capture' this}} {{bind-attr disabled=isProcessing}}>Capture sale</button>
                    </ul>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</fieldset>